body{font-family: 'Raleway', sans-serif;}
header{
	margin: 0%;
	padding: 0%;
	width: 100%;
}
.navbar{
	margin: 0%;
	padding: 1%;
	margin-top: -6px;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/bg-01.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	font-size: 17px;
	float: right;
	list-style: none;
	text-align: right;
}
.navbar li{
	margin-top: 20px;
	margin-right: 12px;
	display: inline-block;
	margin-left: 40px;
}
.navbar li a:link,
.navbar li a:visited{
	padding: 8px 8px;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}
.navbar li a:hover,
.navbar li a:active{
	border-bottom: 2px solid hsla(0,0%,21%,0.87);
	border-right: 2px solid hsla(0,1%,42%,1.00);
}



/*===============================side bar===========================*/
.vertical-menu {
	margin-top: 12px;
	float: right;
	width: 200px; 
	height: 400px;
  }
  
  .vertical-menu a {
	  text-align: center;
	background-color: #eee; 
	color: black; 
	display: block; 
	padding: 12px; 
	text-decoration: none; 
  }
  
  .vertical-menu a:hover {
	background-color: #ccc; 
  }
  
  .vertical-menu a.active {
	background-color: #4CAF50; 
	color: white;
  }


.cardbar{
	margin-top: 33px;
	width: 100%;
	height: 500px;
	background-color: #ccc;
}
  .card {
	padding: 80px 80px;
    width: 200px;
	list-style: none;
	float: right;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	text-align: center;
  }

  
  .title {
	margin-right: 20px;
	color: grey;
	font-size: 18px;
  }
  
  button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  a {
	text-decoration: none;
	font-size: 22px;
	color: black;
  }
  
  button:hover, a:hover {
	opacity: 0.7;
  }

  /*==============================skill===============================*/

  

  .container {
	width: 80%; 
  }
  
  .skills {
	text-align: right; 
	padding-top: 10px; 
	padding-bottom: 10px;
	color: white;
  }
  
  .html {width: 90%; background-color: #4CAF50;} 
  .css {width: 89%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;} 
  .php {width: 20%; background-color: #808080;} 

/*====================footer====================*/
.search-text{
	padding-bottom:60px;
 }
	 
 .search-text .input-search{
	 float:right;
	 height:45px;
	 width:400px;
	 color:#333;
	 text-align: right;
	 margin-right: -200px;
 } 
 
 .search-text .btn-search{
	 text-align: center;
	 float: left;
	 background: #545454;
	 font-family:Roboto;
	 border:none;
	 color:#FFF;
	 height: 50px;
	 width: 90px;
 }
 
 .search-text h4{
	 color:#888582;
	 font-weight: 700;
 }
 
 footer{
	 background-color:#222222;
	 padding: 60px 0px;
 }
 
 footer ul{
	 list-style:none;
	 margin:0 auto;
	 display:inline-block;
	 padding-top:50px;
 }
 
 footer ul li{
	 float:right;
 }
 
 footer ul li a{
	 color:#b1aca1;
	 padding:20px;
 }
 
 footer ul li a:hover{
	 color:#7dabdb;
	 text-decoration:none;
 }
 
 .footer-top{
	 padding-bottom:50px;
 }
 
 .footer-top .fa{
	 font-size:18px;
	 color: #FFF;
	 padding-right:10px;
 }
 
 .footer-top a{
	 color:#FFF;
	 background:#333333; 
	 padding: 10px;
 }
 
 .footer-top , .footer-top:hover a{
	 color:#7dabdb;
	 text-decoration:none;
 }
 
 .copyright{
	 background-color:#050404c4;
 }
 
 .copyright p{
	 color: #FFF;
	 margin: auto;
	 font-size:18px;
	 padding:15px 0 10px 0;
 }
 .text2{
	 margin-left: 300px;
	 text-align: center;
 }
 .text-center{
	 border-radius: 17px;
	float: right;
	list-style: none;
	text-align: right;
	padding-right: 20px;
	margin-right: 20px
 }
 .top{
	 padding: 10px 10px;
	 color: #fff;
	 background: #7dabdb;
	 cursor: pointer;
	 font-size: 18px;
	 line-height: 40px;
	 height: 40px;
	 width: 40px;
	 right: 30px;
	 position: fixed;
	 border-radius: 3px;
	 text-align: center;
	 bottom: 350px;
 }
 








