*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 350px;
    background-color: yellow;
}
#branding {
    float: right;
    position: relative;
    text-decoration: none;
    width: 50%;
    height: 12%;
}

#branding img {
    display: block;
}
h1{
    border-bottom:2px solid black;
    text-align: center;
}

.nav.main-navigation{
    font-family: Arial, Helvetica, sans-serif;
    float: none;
    clear: both;
    list-style: none;
    margin-right: 40px;
}
.main-navigation{
    clear: both;
    float: right;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.main-navigation li{
    margin-top: 20px;
    display: inline-block;
    margin-left: 40px;
}
.main-navigation li a:link,
.main-navigation li a:visited{
	padding: 8px 8px;
	color:rgb(20, 17, 17);
    text-decoration: none;
    font-family: Arial;
	text-transform: uppercase;
	font-size: 15px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}
.main-navigation li a:hover,
.main-navigation li a:active{
    border-bottom: 2px solid rgb(94, 93, 93);
 
}
/*slider*/
.slider{
    margin-top: 20px;
    background-color: rgb(138, 138, 138);
    text-align: center;
}

  
  .dropdown_btn a {
    border-radius: 10px;
	  text-align: center;
	background-color: #eee; 
	color: black; 
	display: block; 
	padding: 12px; 
	text-decoration: none; 
  }
  
  .dropdown_btn a:hover {
	background-color: #ccc; 
  }
  
  .dropdown_btn a.active {
	background-color: #4CAF50; 
	color: white;
  }


.cardbar{
	margin-top: 33px;
	width: 100%;
	height: 500px;
	background-color: #ccc;
}
  .card {
	padding: 80px 80px;
    width: 200px;
	list-style: none;
	float: right;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	text-align: center;
  }

  
  .title {
	margin-right: 20px;
	color: grey;
	font-size: 18px;
  }
  
  button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #050505);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  a {
	text-decoration: none;
	font-size: 22px;
	color: black;
  }
  
  button:hover, a:hover {
	opacity: 0.7;
  }

#dropdown_link{
    display:none !important;
}


  .btn{
      width: 600px;
      height: 700px;
  }






  